body{
  background-color: #06327a;
}
h1{
  color:white;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
#scra{
  margin-left: 40%;
  border: 5px solid black
}
#port{
  margin-left: 38%;
  border: 5px solid black;
}
#code{
  margin-left: 22%;
}
a{
  color: white;
  font-family: 'Roboto Slab', serif;
}
video{
  border: 5px solid black;
  margin-left: 42%;
}
#ft{
  text-align: center;
}
#sp{
  text-align: center;
}
#sp2{
  color: white;
  text-align: center;
}
